
data/*
!data/.gitkeep

results/*
!results/.gitkeep

epochs/*
!epochs/.gitkeep

__pycache__
New folder
Include
Lib
Scripts
share
enhanced_sample.wav
output_file.wav
p232_001.wav
p232_002.wav
reconstructed_audio_librosa.wav
sample.wav